@page "/professor"
@page "/use-InitializeData"
@using ScheduleOptimizer.Logic;
@using System.Collections;


<PageTitle>Professor</PageTitle>

<h1>Professor</h1>

<p>This is our Professor page. It will eventually take in professor's preferences on classes and a few other fun things as well!'</p>
<button class="btn btn-primary" @onclick="PrintCourses">Print the list of Professors</button>
<button class="btn btn-primary" @onclick="ClearCourses">Clear Courses</button>

<tr style="background-color: #fff">
    <td style="padding: 8px; border: 1px solid #111;">Professor Name</td>
    @* <td style="padding: 8px; border: 1px solid #111;">Course Name</td> *@
    @* <td style="padding: 8px; border: 1px solid #111;">Description</td> *@
    @* <td style="padding: 8px; border: 1px solid #111;">Needs Lab?</td> *@
    @* <td style="padding: 8px; border: 1px solid #111;">Preference (Out of 5)</td> *@

</tr>
@for (int i = 0; i < InitializeData.ListOfProfessors.Count(); i++)
{
    @if (i % 2 == 1)
    {
        <tr style="background-color: #fff">
            <td style="padding: 8px; border: 1px solid #111;">@InitializeData.ListOfProfessors[i].Name</td>
            @* <td style="padding: 8px; border: 1px solid #111;">@InitializeData.ListOfProfessors[0].AssignedCourses[i].CourseName</td> *@
            @* <td style="padding: 8px; border: 1px solid #111;">@InitializeData.ListOfProfessors[0].AssignedCourses[i].Description</td> *@
            @* <td style="padding: 8px; border: 1px solid #111;">@(InitializeData.ListOfProfessors[0].AssignedCourses[i].NeedsLab ? "Yes" : "No")</td> *@
            @* <td style="padding: 8px; border: 1px solid #111;">@InitializeData.ListOfProfessors[0].GetCourseAndPreference(InitializeData.ListOfProfessors[0].AssignedCourses[i]).preference</td> *@

        </tr>
    }
    else
    {
        <tr style="background-color: #888">
            <td style="padding: 8px; border: 1px solid #111;">@InitializeData.ListOfProfessors[i].Name</td>
            @* <td style="padding: 8px; border: 1px solid #111;">@InitializeData.ListOfProfessors[0].AssignedCourses[i].CourseName</td> *@
            @* <td style="padding: 8px; border: 1px solid #111;">@InitializeData.ListOfProfessors[0].AssignedCourses[i].Description</td> *@
            @* <td style="padding: 8px; border: 1px solid #111;">@(InitializeData.ListOfProfessors[0].AssignedCourses[i].NeedsLab ? "Yes" : "No")</td> *@
            @* <td style="padding: 8px; border: 1px solid #111;">@InitializeData.ListOfProfessors[0].GetCourseAndPreference(InitializeData.ListOfProfessors[0].AssignedCourses[i]).preference</td> *@

        </tr>
    }
}

@code {
    private void PrintCourses()
    {

        InitializeData.BeginData();
    }

    private void ClearCourses()
    {
        InitializeData.ClearData();
    }
}

