@page "/schedule"
@using ScheduleOptimizer.Logic;


<PageTitle>Schedule</PageTitle>

<h1>Schedule</h1>

<button class="btn btn-primary" @onclick="SomeFunction">GenerateSchedule</button>
<button style="background-color: #008000" class="btn btn-primary" @onclick="SaveFunction">Save</button>
<button style="background-color: #FF0000" class="btn btn-primary" @onclick="ClearFunction">Clear Schedules</button>

<table class="table table-bordered table-striped">
    <thead>


        <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Course Name</th>
            <th>Room Number</th>
            <th>Professor</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < InitializeData.ListOfScheduledCourses.Count(); i++)
        {
                <tr>
                    <td>@InitializeData.ListOfScheduledCourses[i].date</td>
                    <td>@InitializeData.ListOfScheduledCourses[i].time</td>
                    <td>@InitializeData.ListOfScheduledCourses[i].course.CourseName</td>
                    <td>@InitializeData.ListOfScheduledCourses[i].room.RoomNumber</td>
                    <td>@InitializeData.ListOfScheduledCourses[i].professor.Name</td>
                </tr>
        }
    </tbody>
</table>

@code {
    public Dictionary<(ScheduleOptimizer.Logic.AvailableTimes, ScheduleOptimizer.Logic.Course), ScheduledCourse> finalSchedule = new();
    public int day = 0;

    public void SomeFunction()
    {
        //InitializeData.BeginData();
        Scheduling schedule = new(Persistence.Semester.Spring, 5, InitializeData.ListOfCourses);

        finalSchedule = schedule.GenerateSchedule(InitializeData.ListOfCourses[0].CoursesWithRooms(),
        InitializeData.ListOfProfessors[0].CalculateCourseProfessor());

        foreach (var item in finalSchedule)
        {
            InitializeData.ListOfScheduledCourses.Add(item.Value);
        }
    }

    public void ClearFunction()
    {
        //InitializeData.ClearData();
        InitializeData.ListOfScheduledCourses.Clear();
    }

    public void SaveFunction()
    {
        InitializeData.SaveData();
    }
}
